<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 服务提供方应用信息，用户计算依赖关系 -->
    <dubbo:application name="dubbo-study-consumer-application"/>

    <!-- 使用zookeeper注册中心 -->
    <dubbo:registry address="zookeeper://192.168.47.129:2181"/>

    <dubbo:reference id="userAddressService" interface="com.lin.UserAddressService"/>

</beans>